html,
body {
    height: 100%;
}

body.blank {
    display: flex;
    padding: 40px 0;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

body.blank .wrap {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: -40px auto;
    padding: 15px;
}

body.blank .wrap > div {
    width: 100%;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th,
.grid-view td:last-child {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/* CODIGO PARA MAIN SIDEBAR + CONTENT_TEXT */
.sidebarmain{
    float:left;
    width:15%;
    height: 100%; 
    min-height:400px; 
    margin-bottom: -5000px; 
    padding-bottom: 5000px; 
    background-color: #222;
    padding-top: 2.7%;
    position: fixed;
}

.content_text{
    margin-left: 15%;
    margin-top: 0%;
    margin-bottom: -5000px; 
    padding-bottom: 5000px;
    padding-left: 50px;
    padding-right: 50px;
}
.sidebarstyle{
    border: 0px;
    background-color:#222; 
    border-radius: 0px;
    border-color: #9d9d9d; 
    color: white;
}
.sidebarmain a{
    color: #9d9d9d;
}
.sidebarmain .table{
    border: 0px;
    border-radius: 0px;
}
.sidebarmain .panel{
    background-color:#222; 
}
.panel-default{
    background-color:#222!important;
    border:0px;
}
.sidebarmain ul{
    background-color:#222!important; 
}
.sidebarmain ul li ul{
    background-color:black!important; 
}
.titulo-index-brackend h1{
    float:left;
    width: 100%;
    background: white;
    padding-bottom: 5px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px #9D9C99 solid;
    border-radius: 5px;
}
.button-index-brackend a{
    margin-top: 20px;
    width: 100%;
    height: 100%;
    border: 1px #9D9C99 solid;
    border-radius: 5px;
    margin-top: 30px;

}
.button-index-brackend{
    padding-bottom: 32px;
}
.search-index-brackend {
    float:left;
    width: 100%;
    background: white;
    padding-bottom: 5px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 5px;
    border: 1px #9D9C99 solid;
    border-radius: 5px;

}
.grid-index-brackend{
    width: 100%;
    background: white;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 20px;
    border: 1px #9D9C99 solid;
    border-radius: 5px;
}
.truncate{
    max-width: 500px!important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.truncate:hover{
    overflow: visible;
    white-space: normal;
    width: auto;
}
.button-search{    
    padding-bottom: 32px;
    padding-left: 0px;
    padding-right: 0px;
}
.button-search button{    
    width: 60%;
    height: 100%;
    border: 1px #9D9C99 solid;
    border-radius: 5px;
    margin-top: 25px;
}
.button-search a{    
    height: 100%;
    border: 1px #9D9C99 solid;
    border-radius: 5px;
    margin-top: 24px;
}
.descricao-index-brackend{
    text-indent: 50px;
    line-height: 1.6;
}
.imagem-veiw-backend{
    width: 60%;
    background: white;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 20px;
    border: 1px #9D9C99 solid;
    border-radius: 5px;
}
.text-form{
min-height: 100%;
}